.head{
 background-color: dimgray;
 padding: 20px;
}
.box{

    height: 70vh;
    display: flex;
}
.index{
    background-color: forestgreen;
    width: 20%;
        
}


.cont{
    background-color: blueviolet;
    width: 10%;

}
.textarea{
    background-color:  rgb(255, 174, 0);
    width: 10%;

}
.footer{
    background-color: brown;
    padding: 20px;
}
.css{
    background-color: aqua;
    width: 60%;
}
